@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #18181b;
  /* background-color: #1d1d1d; */
  /* background-color: transparent; */
  color: #ffffff;
  /* overflow-x: hidden; */
  /* height: 100%; */
  /* width: 100vw; */
}
a {
  color: black;
  text-decoration: none;
}

/* Navbar Styles */

.navbar-container {
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}
.navbar {
  width: 100%;
  height: inherit;
  background-color: #28282a00;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 3em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a,
ul {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.9em 1em;
}

.navbar a:hover {
  text-decoration: #18a5c8 underline;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto;
  gap: 1em;
}

.grid-item {
  color: #fff;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

.outer-container {
  width: 80%;
  margin: 3em auto 2em auto;
  background-color: #3a3a3a;
  /* background-color: rgba(2, 6, 23, .2); */
  /* box-shadow: 0 4px 8px rgb(32, 32, 32); */
}
.list-container {
  width: 100%;
  height: 100%;
  background-color: #262c42;
}

.list-container::-webkit-scrollbar {
  display: none;
}
.list-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto 1em auto;
  flex: 0 0 auto;
  position: relative;
  padding: 0.5em;
}

.list-item p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 0.6em 0;
  margin: 0;
}
.section-title {
  font-size: 1.8em;
  color: #fff;
  background-color: #337ab7;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.4em 0.6em;
}
span.index {
  display: inline-block;
  font-family: "Londrina Outline", serif;
  font-weight: bold;
  position: absolute;
  bottom: 0.3em;
  left: 0.2em;
  font-size: 7.5em;
  color: #219ebc;
}

.container {
  text-align: center;
  background: #121212;
  padding: 0 0 1em 0;
  color: white;
  margin-top: 6em;
  min-height: 90vh;
  max-height: auto;
}
.heading {
  background-color: #337ab7;
  padding: 0.5em 1em;
}

.movie-cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1em;
}

.movie-card > img {
  width: 100%;
  border-bottom: 3px solid #219ebc;
  transition: transform 0.3s ease;
}

.movie-card > img:hover {
  transform: scale(1.05);
}

/* loading */

.loading-card {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}

.loading-card > span {
  height: 21em;
  width: 15em;
  margin: 0.5em 0;
  border-radius: 0.9em;
  background: linear-gradient(90deg, #3c3c3c 25%, #2e2e2e 50%, #1e1e1e 75%);
  background-size: 200% 100%;
  animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Genres List Styles */
.genres-list {
  display: none;
  position: absolute;
  top: 3.5em;
  left: 2em;
  background-color: #18181b;
  width: 40%;
  border-radius: 0.2em;
  padding: 1em;
  z-index: 10;
  cursor: pointer;
  grid-template-columns: repeat(4, minmax(120px, 1fr));
}

.genres-button + .genres-list,
.genres-list:hover {
  display: grid;
}

.genres-list > li:hover span {
  text-decoration: #18a5c8 underline;
}

.bg-image {
  height: 85vh;
  width: auto;
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background: linear-gradient(to top, #16222d 1%, rgba(0, 0, 0, 0.1) 100%), url('./assets/background-image.jpg'); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-col h1 {
  font-size: 10em;
  font-weight: bold;
  background: linear-gradient(to right, #219ebc, #6dd5ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-left: 0.1em solid #18a5c8;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-col .camera {
  display: block;
  font-size: 1.2em;
}

/* search */

.search-container {
  border-radius: 10px;
  margin: 2em auto;
  width: 80%;
  margin-top: 7em;
  max-width: 800px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

input[type="search"] {
  background-color: white;
  color: #000;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.5em 1em;
  outline: none;
  width: 100%;
  max-width: 600px;
}

form button {
  background-color: #219ebc;
  padding: 0.7em 2em;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #18a5c8;
}

/* movie */
.movie-content {
  width: 80%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.poster {
  display: inline-block;
  /* height: 30em; */
  /* width: 20em; */
  flex: 0 0 25%;
  position: relative;
}
.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* .movie-info {
  padding: 1em 1.5em;
  flex: 0 0 70%;
  border-radius: 10px;
  color: black;
  font-size: 1.2em;
} */
.movie-title-card {
  font-size: 0.5em;
}

/* season destails */

.season-details {
  padding: 2em 2em;
}

.series-navbar {
  display: inline-flex;
  position: unset;
  width: 20%;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #282828;
  border-radius: 10px;
  margin: 1em 0;
}

.movie-title {
  font-family: "Poppins", sans-serif;
}
.upcomming-list > div {
  position: absolute;
  margin: auto;
}
.upcomming-list img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* SignUp Component Styles */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  padding: 2em;
}

.signup-form-container {
  margin-top: 4em;
  background: rgba(40, 40, 40, 0.9);
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(10px);
}

.signup-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-input-group {
  margin-bottom: 1.5em;
  width: 100%;
}

.signup-label {
  font-size: 1.1em;
  color: #ffffff;
  margin-bottom: 0.5em;
  display: block;
}

.signup-input {
  width: 100%;
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  background-color: #3a3a3a;
  color: #ffffff;
  transition: border 0.3s ease;
}

.signup-input:focus {
  outline: none;
  border: 2px solid #219ebc;
}

.signup-button {
  background: linear-gradient(135deg, #219ebc, #18a5c8);
  color: #ffffff;
  padding: 0.8em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.signup-footer {
  text-align: center;
  color: #ffffff;
  margin-top: 1.5em;
  font-size: 1em;
}

.signup-link a {
  color: #219ebc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup-link a:hover {
  color: #18a5c8;
  text-decoration: underline;
}

/* hover image */
.hover-image img {
  transition: transform 0.5s ease;
}
.hover-image:hover img {
  transform: scale(1.1);
}

/* Profile Component Styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1a202c;
}

.profile-card {
  background-color: #2d3748;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2em;
  width: 100%;
  max-width: 400px;
}

.profile-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  color: #63b3ed;
}

.profile-info {
  background-color: #4a5568;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.profile-subtitle {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #90cdf4;
}

.profile-text {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  color: #e2e8f0;
}

.profile-label {
  font-weight: bold;
  color: #edf2f7;
}

.profile-actions {
  display: flex;
  justify-content: center;
}

.profile-button {
  background-color: #e53e3e;
  color: #ffffff;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #c53030;
}

/* Movie Component */
.movie-box {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100vh;
}
.back-button {
  position: fixed;
  z-index: 1;
  top: 7em;
  left: 1em;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.movie-details {
  color: white;
  opacity: 1;
  padding: 1em 2em;
  margin: 1em 2em;
  font-size: 1em;
  backdrop-filter: blur(10px);
  background-color: rgba(39, 37, 37, 0.3);
}

/* Responsive Navbar Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1em;
  }

  .navbar > div {
    flex-direction: column;
    width: 100%;
    display: none; /* Hide menu items by default */
  }

  .navbar > div.active {
    display: flex; /* Show menu items when active */
  }

  .navbar a,
  ul {
    font-size: 1em;
    padding: 0.5em 0;
  }

  .hamburger {
    display: flex; /* Show hamburger menu */
  }

  .hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .genres-list {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}

@media (max-width: 480px) {
  body {
    width: 100vw;
    height: 100%;
  }
  .navbar-container {
    z-index: 3;
    height: 0;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 1em;
    top: 1em;
  }

  .navbar {
    all: unset;
  }
  .navbar a,
  ul {
    font-size: 0.9em;
    padding: 0.4em 0;
  }

  .navbar > div {
    background-color: #18181b;
    align-items: start;
    padding-left: 1em;

  }

  .navbar > div + div {
    /* padding: 2em; */
    /* border: 2px solid red; */
  }

  .menu span {
    display: none;
  }

  .container {
    margin-top: 0;
  }

  .outer-container {
    height: 100%;
    width: 100%;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    padding: 0;
  }

  .search-container {
    width: 95%;
  }

  input[type="search"] {
    font-size: 0.9em;
    padding: 0.4em;
  }

  form button {
    padding: 1em 1.5em;
    font-size: 0.8em;
  }

  /* Show genres list below the button in mobile */
  .genres-list {
    padding: 0 0 0 1em;
    position: relative;
    background-color: #18181b;
    width: 100%;
    top: 0.8em;
    left: -0.4em;
    border-radius: 0.2em;
  }

  /* When active, show the genres list */
  .genres-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
  }

  /* Ensure items are spaced out properly */
  .genres-list li {
    padding: 0.1em;
    font-size: 1.1em;
  }

  .content-container {
    height: auto;
    padding-top: 10em;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;
  }
  .back-button {
    top: 0.5em;
    left: 0.8em;
    z-index: 2;
  }
  .movie-details {
    margin-top: 2em;
    width: 100%;
    padding: 0.8em;
  }
  .movie-details > div {
    font-size: 0.8em;
    /* border: 2px solid #219ebc; */
  }
  .search-container{
    margin-top: 5em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}

.neon-text {
  text-shadow: 0 0 10px #219ebc, 0 0 20px #219ebc, 0 0 30px #219ebc;
}
